body{
    margin: 0;
}

header{
    overflow: auto;
    background-color: #054b05;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    color: white;
}

header div{
    display: flex;
    align-items: center;
}

header input{
    height: 30px;
    border: 0;
    width: 250px;
    border-radius: 10px;
    display: none;
    background-color: #ddd;
    font-size: 18px;
    padding-left: 10px;
}

header img{
    width: 25px;
}

.principal > div:nth-child(1){
    width: 100%;
}

.principal > div:nth-child(1) > img{
    width: 100%;
}

.principal > div:nth-child(2){
    width: 100%;
}

.principal .destaque img{
    width: 100%;
}

@media(min-width: 768px){
    header input{
        display: block;
    }
    header img{
        padding: 15px;
        background-color: #ddd;
        border-radius: 100%;
        margin-left: -15px;
    }
    .principal{
        display: flex;
    }
    .principal > div:nth-child(1){
        width: 70%;
    }
    
    .principal > div:nth-child(2){
        width: 30%;
    }
}